* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 11px;
  font-weight: normal;
}

#tray {
  padding: 0 6px;
  background: transparent;
}

#mpris {
  padding: 0 8px;
  margin: 0 5px;
  /* background: rgba(255, 0, 0, 0.15); */
  color: #ffffff;
  font-weight: 500;
}

#mpris.paused {
  opacity: 0.6;
}

#mpris.playing {
  color: #ffffff;
}


#waybar {
  background: #000000;
}

label {
  background: transparent;
}

#workspaces {
  color: #000000;
  background: transparent;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 2px 0 0;
  min-width: 0;
  background: #333333;
  color: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  text-shadow: none;
}

#workspaces button.active {
  background: #ffffff;
  color: #000000;
  border: none;
  box-shadow: none;
  outline: none;
  text-shadow: none;
}

#workspaces button:hover {
  background: #ffffff;
  color: #000000;
}

#window,
#battery,
#network,
#wireplumber,
#clock,
#custom-separator {
  padding: 0 6px;
  background: transparent;
  color: #ffffff;
}
