@import "colors.css";


* {
  all: unset;
  font-family: "ProFont IIx Nerd Font Mono";
  font-size: 18px;
}



#backlight, #battery, #cpu, #clock, #memory, #network, #workspaces,
#language, #battery, #power-profiles-daemon, #pulseaudio {
  background: @transparent;
  color: #ffffff;
  border-radius: 0;
  margin-top: 1;
  margin-right: 1;
  margin-left: 4;
  padding: 0px 20px 0px 20px;
}

#waybar { background: rgba(1, 1, 1, 1); }
/* #waybar { background: transparent; } */
#workspaces { padding: 1px 1px 1px 1px; }

.modules-left, .modules-right { border-radius: 2; }
.modules-left                 { margin-left: 8;   }
.modules-right                { margin-right: 8;  }

#workspaces button {
  padding: 0px 6px;
  margin: 0px;
  border-radius: 0;
  color: #ffffff;
}
#workspaces button.empty {
  color: #787878;
}
#workspaces button.persistent { color: #ffffff; }
#workspaces button.visible { 
  color: #ffffff;  
}
#workspaces button.active,
#workspaces button.focused {
  background-color: @color1;
  color: #000000; 
}
/* NM-APPLET TRAY MENU */
#tray menu {
    background: #000000;
    color: #a0a0b4;
}

#tray menu menuitem:hover,
#tray menu menuitem:selected,
#tray menu menuitem:active {
    background: #326482;
    color: #ffffff;
}

/* optional – better spacing */
#tray menu menuitem {
    padding: 6px 10px;
}

